






<div id="topbar">
  <div id="title">
    <p id="bigtitle">THE LIST</p>
    <div id="subtitle"><a href="http://www.calweb.com/~skoepke/" id="steve">Steve Koepke's</a> legendary List of Bay Area funk/punk/thrash/ska shows<p> formatted by <a href="mailto:phil248@gmail.com?SUbject=The%20List">Phil DiNuzzo</a></h4>
    </div>
  </div>
</div>

<div id="bgimage2">

  <h6>
    <span style="display:none">
      <%= link_to '(raw data)', raw_path %>
    </span>
  </h6>

  <h3 class="link">  <%= link_to 'See Upcoming Shows', shows_path %>
  </h3>
  <h4 class="link">  <%= link_to 'See Archived Shows', archive_path %>
  </h4>


    <% if user_signed_in? %>

      <h4 class="link"><%= link_to 'See Saved Shows', {:controller => "shows",
                         :action => "saved"},
                         :method => "get" %>
      </h4>
    <% else %>
    <% end %>

</div>