#topbar {
  position: relative;
  background-color: #828282;
  background-image: url("/background.png");
  background-size: 1800px;
  background-repeat: repeat-x;
  height: 285px;
  min-width: 1000px;
}

#bgimage2 {
  position: relative;
  background-color: #828282;
  background-image: url("/mosh.png");
  background-repeat: repeat-x;
  width: auto;
  height: 1000px;
}

#title {
  float: left;
  position: absolute;
  top: 10px;
  left: 10px;
  text-shadow: 0px 1px 6px #666;
}

#bigtitle {
  margin: 41px 0 73px 1px;
  font-size: 185px;
  font-weight: 90;
  color: black;
}

#subtitle { color:white; font-size: 22px; font-weight: bold;}

#subtitle a {
  color: #303030;
  text-shadow: 2px 4px 8px #666;
}
#subtitle p {
  padding: 0px 0 0 0;
  font-weight: 30;
  text-align: right;
  font-size: 18px;
}

#steve {
  font-size: 22px;
  margin-left: 32px;
}

#signin {
  margin: 0 80px 0 0;
  position: absolute;
  background-color: #828282;
  top: 0px;
  right: 0px;
  float: right;
  padding: 4px;
  border-bottom-left-radius: 20px 30px;
  border-bottom-right-radius: 20px 30px;
  width: 200px;
  text-align: center;
  opacity: 0.8;
  font-family: arial;
  font-size: 11px;
  font-weight: bold;
  border: black 1px solid;
  border-top: none;
  z-index: 1;
}

#signin a {
  color: #3B3738;
  font-weight: bold;
  font-size: 14px;
}
/* end top bar section*/

body {
/*  background-color: #607B8B;*/
  background-color: black;
  overflow: hidden;
}

#week {
  position: absolute;
  bottom: 0;
  left: 0;
  font-size: 22px;
  padding: 5px 15px 5px 5px;
  margin: 0 0 100px 100px;

}

#notes {
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: 13px;
  font-weight: bold;
  padding: 5px 15px 5px 5px;
/*  float: right;*/
}


.link {
  text-align: center;
  font-size: 40px;
  color: white;
  margin-top: 50px;
  text-decoration: none;
}

.link a {
  text-decoration: none;
  color: white;
}

.cancelled {
  color: red;
}

table.shows {
  font-family: arial;
  font-size: 13px;
  font-weight: bold;
  border-collapse: collapse;
  width: 100%;
}


table.shows tr:nth-child(odd) {background-color: #eee;}
table.shows tr:nth-child(even) {background-color: #C4B3B5;}

table.shows tr:hover {background-color: #A393AD}

div.scrollableContainer {
  position: relative;
  padding-top: 0em;
  margin: 0px;
  background: #aab;
}

div.scrollingArea {
  height: 600px;
  overflow: auto;
}

table.shows tr { height: 41px;
    border-bottom: 2px solid black;
    border-top: 2px solid black;}

.header {
  background: black;
  color: white;
  font-size: 16px;
  font-family: arial;
 /* display: absolute;*/
  text-align: left;
}

.headerrow {
  max-height: 40px;
  text-align: left;
}

.dateheader { width: 140px; max-width: 180px; text-align: center;}
.bandsheader { width: 355px; max-width: 500px; }
.venueheader { width: 220px; max-width: 250px;  }
.timeheader { width: 70px; }
.ageheader { width: 70px; }
.priceheader { width: 100px;}
.notesheader { width: 160px; }
.recheader { width: 70px; }
.saveheader { width: 120px; text-align: center;}
.emptyheader { width: 900px; }

.date {
  width: 180px;
  text-align: center;
}
.bands {
  width: 500px;
}
.venue {
  width: 250px;
}
.time {
  text-align: center;
  width: 110px;
  font-size: 11px;
}
.ages {
  width: 60px;
  text-align: center;
  font-size: 12px;
}
.price {
  width: 110px;
  font-size: 11px;
  text-align: center;
}
.boolean {
  width: 60px;
  text-align: center;
  font-size: 12px;
}
.notes {
  font-size: 11px;
  text-align: center;
  width: 80px;
}
.rec {
  width: 100px;
  text-align: center;
  font-weight: bolder;
  font-size: 15px;
}
.save {
  text-align: center;
  width: 160px;
}
.empty {
  width: 12px;
}

