//////// OLD ////////
#topbar {
  position: relative;
  background-color: #828282;
// Added via JS
/*  background-image: url("/background.png");*/
  background-size: 1800px;
  background-repeat: repeat-x;
  background-position: fixed;
  height: 285px;
  min-width: 1000px;
}

#bgimage2 {
  position: relative;
  background-color: #828282;
// Added via JS
/*  background-image: url("/mosh.png");*/
  background-repeat: repeat-x;
  background-position: fixed;
  width: auto;
  height: 1000px;
  margin-top: -20px;
}

#title {
  float: left;
  position: absolute;
  top: 10px;
  left: 10px;
  text-shadow: 0px 1px 6px #666;
}

#bigtitle {
  margin: 41px 0 73px 1px;
  font-size: 185px;
  font-weight: 90;
  color: black;
}

#subtitle {
  color:white;
  font-size: 22px;
  font-weight: bold;
}

#subtitle a {
  color: #303030;
  text-shadow: 2px 4px 8px #666;
}
#subtitle p {
  padding: 0px 0 0 0;
  font-weight: 30;
  text-align: right;
  font-size: 18px;
}

#steve {
  font-size: 22px;
  margin-left: 32px;
}

#signin {
  margin: 0 80px 0 0;
  position: absolute;
  background-color: #828282;
  top: 0px;
  right: 0px;
  float: right;
  padding: 4px;
  border-bottom-left-radius: 20px 30px;
  border-bottom-right-radius: 20px 30px;
  width: 200px;
  text-align: center;
  opacity: 0.8;
  font-family: arial;
  font-size: 11px;
  font-weight: bold;
  border: black 1px solid;
  border-top: none;
  z-index: 1;
}

#signin a {
  color: #3B3738;
  font-weight: bold;
  font-size: 14px;
}
/* end top bar section*/

.topdiv {
  position: fixed;
  width: 100%;
  height: 155px;
}

#week {
  position: absolute;
  bottom: 0;
  left: 0;
  font-size: 22px;
  padding: 5px 15px 5px 5px;
  margin: 0 0 100px 100px;

}

#notes {
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: 13px;
  font-weight: bold;
  padding: 5px 15px 5px 5px;
/*  float: right;*/
}


.link {
  text-align: center;
  font-size: 40px;
  color: white;
  margin-top: 50px;
  text-decoration: none;
}

.link a {
  text-decoration: none;
  color: white;
}


//////// NEW ////////

// Toolbar
.toolbar {
  height: 50px;
  padding: 5px 15px;

}

// Search
.search-input {
  height: 17px;
  padding: 5px;
  font-size: 15px;
  border-radius: 3px;
  border: none;
  vertical-align: bottom;
}

.search-btn {
  width: 105px;
  height: 28px;
  background-color: black;
  color: white;
  box-shadow: inset 0 0 10px white;
  border-radius: 3px;
  border-top: 1px solid black;
  border-bottom: none;
  border-left: none;
  border-right: none;
}

.search-btn:hover {
  background-color: black;
  color: white;
  box-shadow: inset 0 0 15px white;
}

.search-btn:active {
  background-color: black;
  color: white;
  box-shadow: inset 0 0 25px white;
}

.search-clear {
  display: none;
  font-size: 10px;
  color: white;
  margin: 0 0 0 5px;
  cursor: pointer;
}

// Filters
.filter-list {
  float: right;
  height: 50px;
}

.filter-link {
  display: inline-block;
  color: white;
  padding: 5px;
  min-width: 40px;
  max-width: 75px;
  height: 40px;
  text-align: center;
  vertical-align: top;
}

.filter-active {
  font-weight: bold;
}
